.ds-wp-settings-api-admin-title {
  background-color: #31114d;
}
.ds-wp-settings-api-admin-panel-wrap .button-primary, .ds-wp-settings-api-admin-panel-wrap input[type="submit"] {
  background: #4dcba9;
}
.ds-wp-settings-api-attribution a {
  color: #4dcba9;
}
 